<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
    <targets>
        <target name="msappcenter" type="AppCenter" AppSecret="uwp=89678627-2531-434a-940e-62d9447e3b89;android=5f65c615-c262-4415-b5d6-27820bfd275d;os=29d61e14-d580-45dd-a066-d1707764a12b;" />
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="msappcenter" />
    </rules>
</nlog>
